// Util imports
@import "./util/font";
@import "./util/vars";

// General styles
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $background;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background-color: #616161;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    width: 0.5rem;
    background-color: transparent;
  }
}

button {
  font-family: "Inter", sans-serif;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  28% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  32% {
    opacity: 1;
  }

  51% {
    opacity: 1;
  }

  52% {
    opacity: 0;
  }

  53% {
    opacity: 1;
  }

  54% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  82% {
    opacity: 0;
  }

  84% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  96% {
    opacity: 1;
  }

  97% {
    opacity: 0.4;
  }

  98% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}



// Library imports
@import "./library/button";

// Component imports
@import "./components/navbar";
@import "./components/footer";

// Page imports
@import "./pages/home";
@import "./pages/legal";
@import "./pages/commands";
@import "./pages/status";
