// Util imports
@import "./util/font";
@import "./util/vars";

// General styles
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background-color: #616161;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    width: 0.5rem;
    background-color: transparent;
  }
}

button {
  font-family: "Inter", sans-serif;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

// Library imports
@import "./library/button";

// Component imports
@import "./components/navbar";
@import "./components/footer";

// Page imports
@import "./pages/home";
@import "./pages/imprint";
@import "./pages/commands";
