// Inter: Main font
@font-face {
  font-family: "Inter";
  src: url("/font/inter/woff2/Inter-Thin.woff2") format("woff2"),
    url("/font/inter/woff/Inter-Thin.woff") format("woff"),
    url("/font/inter/ttf/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font/inter/woff2/Inter-ExtraLight.woff2") format("woff2"),
    url("/font/inter/woff/Inter-ExtraLight.woff") format("woff"),
    url("/font/inter/ttf/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font/inter/woff2/Inter-Light.woff2") format("woff2"),
    url("/font/inter/woff/Inter-Light.woff") format("woff"),
    url("/font/inter/ttf/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font/inter/woff2/Inter-Regular.woff2") format("woff2"),
    url("/font/inter/woff/Inter-Regular.woff") format("woff"),
    url("/font/inter/ttf/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font/inter/woff2/Inter-Medium.woff2") format("woff2"),
    url("/font/inter/woff/Inter-Medium.woff") format("woff"),
    url("/font/inter/ttf/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font/inter/woff2/Inter-SemiBold.woff2") format("woff2"),
    url("/font/inter/woff/Inter-SemiBold.woff") format("woff"),
    url("/font/inter/ttf/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font/inter/woff2/Inter-Bold.woff2") format("woff2"),
    url("/font/inter/woff/Inter-Bold.woff") format("woff"),
    url("/font/inter/ttf/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font/inter/woff2/Inter-ExtraBold.woff2") format("woff2"),
    url("/font/inter/woff/Inter-ExtraBold.woff") format("woff"),
    url("/font/inter/ttf/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font/inter/woff2/Inter-Black.woff2") format("woff2"),
    url("/font/inter/woff/Inter-Black.woff") format("woff"),
    url("/font/inter/ttf/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

// IBM Plex Mono: Used for commands info fields
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/font/ibm-plex-mono/woff2/IBMPlexMono-Thin.woff2") format("woff2"),
    url("/font/ibm-plex-mono/woff/IBMPlexMono-Thin.woff") format("woff"),
    url("/font/ibm-plex-mono/ttf/IBMPlexMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/font/ibm-plex-mono/woff2/IBMPlexMono-ExtraLight.woff2")
      format("woff2"),
    url("/font/ibm-plex-mono/woff/IBMPlexMono-ExtraLight.woff") format("woff"),
    url("/font/ibm-plex-mono/ttf/IBMPlexMono-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/font/ibm-plex-mono/woff2/IBMPlexMono-Light.woff2") format("woff2"),
    url("/font/ibm-plex-mono/woff/IBMPlexMono-Light.woff") format("woff"),
    url("/font/ibm-plex-mono/ttf/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/font/ibm-plex-mono/woff2/IBMPlexMono-Regular.woff2")
      format("woff2"),
    url("/font/ibm-plex-mono/woff/IBMPlexMono-Regular.woff") format("woff"),
    url("/font/ibm-plex-mono/ttf/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/font/ibm-plex-mono/woff2/IBMPlexMono-Medium.woff2") format("woff2"),
    url("/font/ibm-plex-mono/woff/IBMPlexMono-Medium.woff") format("woff"),
    url("/font/ibm-plex-mono/ttf/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/font/ibm-plex-mono/woff2/IBMPlexMono-SemiBold.woff2")
      format("woff2"),
    url("/font/ibm-plex-mono/woff/IBMPlexMono-SemiBold.woff") format("woff"),
    url("/font/ibm-plex-mono/ttf/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
