// Background colors
$background: #171717;
$backgroundSecondary: #101010;
$backgroundSecondaryDark: #0e0e0e;
$backgroundAccent: #242424;

$backgroundLight: #1B1B1B;
$backgroundLightHover: #1F1F1F;
$backgroundLightActive: #222222;

// Text colors
$text: #fff;
$textBtnActive: #E4E4E4;
$textSecondary: #C0C0C0;

// Primary colors
$primary: #8c48d9;
$primaryHover: #9265d8;
$primaryActive: #7f23dd;

// Secondary colors
$secondary: #dec65d;
$secondaryHover: #dcca77;
$secondaryActive: #cdac2d;