.homepage-main {
  margin-top: 240px;

  section.landing {
    margin-left: 17vw;
    margin-right: 17vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      h1 {
        user-select: none;
        font-size: 64px;
        width: 500px;
        font-weight: 700;
        color: $text;

        span.red {
          color: $secondary;
        }

        span.blue {
          color: $primary;
        }
      }

      p {
        font-weight: 400;
        font-size: 20px;
        user-select: none;
        color: $textSecondary;
        margin-top: 10px;
        margin-bottom: 24px;
      }
    }
  }

  section.servers {
    margin-top: 100px;

    img {
      user-select: none;
      margin-bottom: 0;
    }

    .servers-wrapper {
      background-color: $backgroundSecondary;
      margin-top: -120px;

      h2 {
        user-select: none;
        font-size: 50px;
        font-weight: 700;
        color: $text;
        margin-left: 17vw;
        margin-right: 17vw;
        text-align: center;
      }

      h3 {
        color: $text;
        user-select: none;
        font-size: 26px;
        font-weight: 500;
        margin-left: 17vw;
        margin-right: 17vw;
        text-align: center;

        span {
          color: $primary;
          font-weight: 600;
        }
      }

      .server-slider-up {
        background-color: #101010;
        width: 100vw;
        height: 20px;
        padding-top: 30px;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .server-slider-down {
        background-color: #101010;
        width: 100vw;
        height: 20px;
        padding-bottom: 100px;
      }

      .server-slider-wrapper {
        position: relative;
        overflow: hidden;

        .servers-slider-container-shade {
          height: 100px;
          position: absolute;
          width: calc(17vw - 22px);
          z-index: 20;
          top: 0px;
          background-color: #101010;
          overflow-y: hidden;

          &.left {
            box-shadow: 2px 0 40px rgba(0, 0, 0, 0.7);
            left: 0;
          }

          &.right {
            left: calc(100vw - (17vw - 22px));
            box-shadow: -2px 0 40px rgba(0, 0, 0, 0.7);
          }
        }

        .servers-slider-container {
          display: flex;
          align-items: center;
          overflow: hidden;
          width: max-content;
          animation: serverSliderContainerMove 80s linear infinite;

          @keyframes serverSliderContainerMove {
            0% {
              transform: translateX(0);
            }

            100% {
              transform: translateX(-7000px);
            }
          }

          .servers-slider-item {
            border-radius: 10px;
            background-color: #141414;
            display: flex;
            align-items: center;
            padding: 20px;
            width: 300px;
            margin-right: 16px;
            z-index: 1;

            img {
              user-select: none;
              border-radius: 10px;
              width: 60px;
              height: 60px;
            }

            .servers-slider-item-right {
              .servers-slider-item-right-head {
                display: flex;
                align-items: center;
                position: relative;

                h4 {
                  user-select: none;
                  color: $text;
                  font-weight: 500;
                  font-size: 18px;
                  margin-left: 15px;
                  width: auto;
                  max-width: calc(300px - 40px - 15px - 82px);
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                svg {
                  width: 20px;
                  height: 20px;
                  margin-left: 6px;
                }
              }

              p {
                user-select: none;
                color: $textSecondary;
                font-weight: 400;
                font-size: 14px;
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
  }

  section.features {
    .features-head {
      margin: 45px 17vw 50px 17vw;
      text-align: center;

      h2 {
        user-select: none;
        font-size: 50px;
        font-weight: 700;
        color: $text;
        margin-left: 17vw;
        margin-right: 17vw;
        text-align: center;
        background: linear-gradient(92.91deg, $primary 10%, $secondary 90%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      h3 {
        color: $text;
        user-select: none;
        font-size: 26px;
        font-weight: 500;
        margin-top: 5px;
        text-align: center;
      }
    }

    .feature {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;

      .feature-mockup {
        &.left {
          margin-left: 17vw;
        }

        &.right {
          margin-right: 17vw;
        }
      }

      .feature-info {
        h4 {
          color: $text;
          user-select: none;
          font-weight: 700;
          font-size: 35px;
        }

        p {
          color: $textSecondary;
          user-select: none;
          font-weight: 400;
          font-size: 18px;
        }

        &.right {
          margin-right: 17vw;
          margin-left: 80px;
        }

        &.left {
          margin-left: 17vw;
          margin-right: 80px;
        }
      }
    }
  }

  section.invite {
    background-color: $backgroundSecondaryDark;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      user-select: none;
      font-size: 50px;
      font-weight: 700;
      color: $text;
      margin-left: 17vw;
      margin-right: 17vw;
      text-align: center;
      padding-top: 80px;

      span {
        &.blue {
          color: $primary;
        }

        &.red {
          color: $secondary;
        }
      }
    }

    h3 {
      color: $textSecondary;
      user-select: none;
      font-size: 20px;
      font-weight: 400;
      margin-top: 0px;
      text-align: center;
    }

    button {
      margin-top: 25px;
      margin-bottom: 80px;
    }
  }
}

// Discord Component Library Custom Bugfixing & Styling
.discord-messages {
  width: calc(50vw - 80px - 17vw);
}

.discord-embed-description {
  font-size: 14px;
}

.discord-mention.discord-role-mention {
  padding: 0 3px;
  border-radius: 3px;
  cursor: pointer;
}

.discord-embed-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .discord-footer-image {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.discord-field-title {
  font-size: 14px;
  font-weight: 600;
}

.discord-embed-field {
  font-size: 14px;
}

.discord-reaction {
  border-radius: 0.5rem;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  user-select: none;
  transition: none 0.1s ease;
  transition-property: background-color, border-color;
  background-color: #2f3136;
  border: 1px solid transparent;

  .discord-reaction-inner {
    display: flex;
    align-items: center;
    padding: 0.125rem 0.375rem;

    img {
      width: 1rem;
      height: 1rem;
      margin: 0.125rem 0;
      min-width: auto;
      min-height: auto;
      object-fit: contain;
      vertical-align: bottom;
    }

    .discord-reaction-count {
      font-size: 0.875rem;
      font-weight: 500;
      margin-left: 0.375rem;
      text-align: center;
      color: #b9bbbe;
    }
  }

  &:hover {
    background-color: #36393f;
    border-color: #515359;
  }
}

.discord-button {
  background-color: #4e5058;
  font-size: 15px;
  color: #fff;
  border-radius: 3px;
  padding: 5px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  margin-bottom: 6px;

  &:hover {
    background-color: #6d6f78;
  }

  &:active {
    background-color: #82858f;
  }

  &.discord-button-primary {
    background-color: #5865f2;

    &:hover {
      background-color: #4752c4;
    }

    &:active {
      background-color: #3c45a5;
    }
  }
}
