.imprint-main {
  h1 {
    font-weight: 800;
    font-size: 60px;
    user-select: none;
    color: $secondary;
    margin: 160px 17vw 30px 17vw;
    text-shadow: 2px 2px 20px $secondary;
    animation: flickerAnimation 7s linear 2s infinite;

    @media screen and (max-width: 1300px) {
      margin: 160px 50px 30px 50px;
    }

    @media screen and (max-width: 450px) {
      margin: 160px 30px 30px 30px;
    }

    span {
      color: $primary;
      text-shadow: 2px 2px 20px $primary;
      animation: flickerAnimation 5s linear 1s infinite;
    }
  }

  br {
    user-select: none;
  }

  p {
    margin: 0 17vw;
    font-size: 16px;
    font-weight: 400;
    color: $text;

    @media screen and (max-width: 1300px) {
      margin: 0 50px;
    }

    @media screen and (max-width: 450px) {
      margin: 0 30px;
    }
  }

  h3 {
    margin: 28px 17vw 0 17vw;
    font-size: 22px;
    font-weight: 600;
    color: $text;

    @media screen and (max-width: 1300px) {
      margin: 28px 50px 0 50px;
    }

    @media screen and (max-width: 450px) {
      margin: 28px 30px 0 30px;
    }
  }

  .embedded-link,
  .link {
    cursor: pointer;
    transition: all 0.3s ease;
    color: $primary;
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
      color: $primaryHover;
      text-decoration-color: $primaryHover;
    }

    &:active {
      color: $primaryActive;
      text-decoration-color: $primaryHover;
    }
  }

  .link {
    margin: 0 17vw;

    @media screen and (max-width: 1300px) {
      margin: 0 50px;
    }

    @media screen and (max-width: 450px) {
      margin: 0 30px;
    }
  }
}
