.status-main {
    h1 {
      color: $secondary;
      font-weight: 800;
      font-size: 60px;
      user-select: none;
      margin: 160px 17vw 0 17vw;
      text-shadow: 2px 2px 20px $secondary;
      animation: flickerAnimation 7s linear 2s infinite;
  
      @media screen and (max-width: 1300px) {
        margin: 160px 50px 0 50px;
      }
  
      @media screen and (max-width: 450px) {
        margin: 160px 30px 0 30px;
      }
  
      span {
        color: $primary;
        text-shadow: 2px 2px 20px $primary;
        animation: flickerAnimation 5s linear 1s infinite;
      }
    }
  
    h3 {
      font-size: 24px;
      font-weight: 500;
      color: $text;
      margin: -5px 17vw 30px 17vw;
      user-select: none;
  
      @media screen and (max-width: 1300px) {
        margin: -5px 50px 30px 50px;
      }
  
      @media screen and (max-width: 450px) {
        margin: -5px 30px 30px 30px;
      }
    }
  
    .status {
      margin: 0 17vw 50px 17vw;
  
      @media screen and (max-width: 1300px) {
        margin: 0 50px 50px 50px;
      }
  
      @media screen and (max-width: 450px) {
        margin: 0 30px 50px 30px;
      }
  
      .status {
        width: 100%;
        border-radius: 12px;
        background-color: #1b1b1b;
        transition: all 0.3s ease;
        margin-bottom: 10px;
        max-height: 91px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
  
        .status-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 20px;
          padding: 20px 25px 20px 29px;
  
          svg {
            transition: all 0.3s ease;
            position: absolute;
            right: 20px;
            top: 33px;
          }
  
          .status-head-left {
            h4 {
              user-select: none;
              font-size: 18px;
              font-weight: 500;
              color: $text;
            }
  
            p {
              user-select: none;
              font-size: 16px;
              font-weight: 400;
              color: $textSecondary;
              width: calc(100vw - 40px - 60px - 100px);
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
  
              @media screen and (max-width: 450px) {
                width: calc(100vw - 40px - 60px - 40px);
              }
            }
          }
        }
  
        .status-expand {
          // position: absolute;
  
          .status-expand-group {
            padding: 0 29px 10px 29px;
            opacity: 0;
            transition: all 0.25s ease;
  
            h5 {
              user-select: none;
              font-weight: 400;
              font-size: 16px;
              color: $text;
            }
  
            h6 {
              user-select: none;
              font-weight: 400;
              font-size: 12px;
              color: $textSecondary;
              background-color: #1b1b1b;
              padding: 6px 9px;
              border: 1px solid #131313;
              border-radius: 5px;
              width: fit-content;
            }
          }
        }
  
        &:hover {
          background-color: #1f1f1f;
        }
  
        &.active {
          max-height: 300px;
          background-color: #222222;
  
          .status-head {
            svg {
              rotate: 180deg;
            }
  
            .status-head-left {
              p {
                text-overflow: initial;
                overflow: initial;
                white-space: initial;
              }
            }
          }
  
          .status-expand {
            .status-expand-group {
              opacity: 1;
  
              &:last-child {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
  