footer {
  background-color: $backgroundSecondary;
  padding: 70px 17vw 30px 17vw;

  @media screen and (max-width: 1300px) {
    padding: 70px 50px 30px 50px;
  }

  @media screen and (max-width: 600px) {
    padding: 40px 50px 30px 50px;
  }

  @media screen and (max-width: 450px) {
    padding: 40px 30px 30px 30px;
  }

  .footer-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    @media screen and (max-width: 950px) {
      align-items: center;
      flex-direction: column;
    }

    display: flex;
    align-items: center;

    .footer-head-column-wrapper {
      display: flex;
      align-items: flex-start;
      width: calc((100vw - 100px) / 100 * 50);

      @media screen and (max-width: 1200px) {
        width: calc((100vw - 100px) / 100 * 60);
      }

      @media screen and (max-width: 950px) {
        margin-top: 40px;
        width: calc(100vw - 100px);
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
        width: calc(100vw - 100px);
      }
    }

    .footer-head-column {
      flex: 1;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 600px) {
        align-items: center;
        width: calc(100vw - 100px);
      }

      &.extend {
        flex: 1.75;

        @media screen and (max-width: 950px) {
          width: calc(100vw - 100px);
          flex: 1;
        }
      }

      .logo {
        display: flex;
        align-items: center;

        img {
          user-select: none;
        }

        p {
          color: #fff;
          user-select: none;
          font-size: 22px;
          font-weight: 600;
          margin-left: 15px;
        }
      }

      .logo-subtext {
        font-size: 16px;
        user-select: none;
        font-weight: 400;
        color: $textSecondary;
        margin-top: 18px;
        margin-right: 80px;

        @media screen and (max-width: 950px) {
          text-align: center;
          width: calc(100vw - 100px);
          margin-right: 0;
        }
      }

      h4 {
        text-transform: uppercase;
        user-select: none;
        font-size: 18px;
        color: $text;
        font-weight: 500;
        margin-bottom: 10px;

        @media screen and (max-width: 600px) {
          margin-top: 30px;
        }
      }

      a {
        transition: all 0.3s ease;
        color: $textSecondary;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 3px;
        user-select: none;

        &:hover {
          color: $text;
        }
      }
    }
  }

  .footer-copyright {
    hr {
      border: 1px solid #242424;
      border-radius: 20px;
    }

    p {
      margin-top: 30px;
      text-align: center;
      user-select: none;
      font-size: 16px;
      font-weight: 400;
      color: $text;

      a {
        cursor: pointer;
        color: $primary;
        transition: all 0.3s ease;
        user-select: none;

        &:hover {
          color: $primaryHover;
        }

        &:active {
          color: $primaryActive;
        }
      }
    }
  }
}
