.wy-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px 27px;
  color: $text;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: $backgroundLight;
  user-select: none;

  &.primary {
    background-color: $primary;

    &:hover {
      background-color: $primaryHover;
    }

    &:active {
      background-color: $primaryActive;
      color: $textBtnActive;
    }
  }

  &.secondary {
    background-color: $secondary;

    &:hover {
      background-color: $secondaryHover;
    }

    &:active {
      background-color: $secondaryActive;
      color: $textBtnActive;
    }
  }
}
.wy-button svg {
  margin-left: 8px; /* Adjust the margin as needed */
  transition: transform 0.3s ease; /* Added transition for animation */
}